if [ -z "$VISUAL" ]; then
    if [ -z "$EDITOR" ]; then
        echo "Error: no editor identified ensure either $VISUAL or $EDITOR environment variables are set."
    else
        CMD="$EDITOR"
    fi
else
    CMD="$VISUAL"
fi

SOCKET="$HOME/guile.socket"
[ -S "$SOCKET" ] && rm "$SOCKET"

guix repl -L "$HOME/.dotfiles/guix" --listen=unix:"$SOCKET" &
GUIX_PID=$!

while true; do
    if pgrep "$CMD"; then 
        sleep 10
    else 
        break
    fi
done

kill "$GUIX_PID"
[ -S "$SOCKET" ] && rm "$SOCKET"
