SOCKET="$HOME/guile.socket"
[ -S "$SOCKET" ] && rm "$SOCKET"

guix repl -L "$HOME/.dotfiles/guix" --listen=unix:"$SOCKET" &
GUIX_PID=$!

while true; do
    if pgrep "nvim"; then 
        sleep 10
    else 
        break
    fi
done

kill "$GUIX_PID"
[ -S "$SOCKET" ] && rm "$SOCKET"
